<aol-map [width]="'100%'" [height]="'100%'">
    <aol-interaction-default></aol-interaction-default>
    <aol-control-defaults></aol-control-defaults>
    <aol-control-fullscreen></aol-control-fullscreen>

  <aol-view [zoom]="12">
    <aol-coordinate [x]="0.683333" [y]="47.383333" [srid]="'EPSG:4326'"></aol-coordinate>
  </aol-view>

  <aol-layer-tile [opacity]="1">
    <aol-source-osm></aol-source-osm>
  </aol-layer-tile>

  <aol-layer-vector>
    <aol-source-cluster [distance]="distance">
      <aol-source-vector>
        <aol-feature *ngFor="let p of points">
          <aol-geometry-point>
            </aol-geometry-point>

            <aol-overlay>
            <aol-coordinate [x]="p.x" [y]="p.y" [srid]="'EPSG:4326'"></aol-coordinate>
            <aol-content>
              <span (click)="open(content)">
                <img width="30px" class="icon" src="http://bilette70.b.i.pic.centerblog.net/0_cc857_183f9a16_L.png"></span>
                </aol-content>
              </aol-overlay>

        </aol-feature>
      </aol-source-vector>
    </aol-source-cluster>
  </aol-layer-vector>

  <aol-layer-vector>
    <aol-source-vector>
      <aol-feature>
        <aol-geometry-polygon>
          <aol-collection-coordinates
            [coordinates]="[[0.5, 47.300],[1, 47.300],[1, 47.500], [0.5, 47.500]]"
            [srid]="'EPSG:4326'"
          >
          </aol-collection-coordinates>
        </aol-geometry-polygon>
        <aol-style>
          <aol-style-stroke [color]="'red'" [width]="2"></aol-style-stroke>
          <aol-style-fill [color]="[255,0,0,0.1]"></aol-style-fill>
        </aol-style>
      </aol-feature>

    </aol-source-vector>
  </aol-layer-vector>
<!--positions-->
<aol-layer-vector [opacity]="">
  <aol-source-vector>
    <aol-feature>
      <aol-geometry-point>
        <aol-coordinate [x]="0.668448" [y]="47.392645" [srid]="'EPSG:4326'"></aol-coordinate>
      </aol-geometry-point>
      <aol-style>
        <aol-style-circle [radius]="5">
          <aol-style-fill [color]="'blue'"></aol-style-fill>
        </aol-style-circle>
      </aol-style>
    </aol-feature>
    <aol-feature>
      <aol-geometry-point>
        <aol-coordinate [x]="0.664664" [y]="47.398124 " [srid]="'EPSG:4326'"></aol-coordinate>
      </aol-geometry-point>
      <aol-style>
        <aol-style-icon
          [src]="'assets/marker.png'"
          [anchor]="[0.5, 1]"
          [anchorXUnits]="'fraction'" [anchorYUnits]="'fraction'"
          [scale]="0.1"
          [anchorOrigin]="'top-left'">
        </aol-style-icon>
      </aol-style>
    </aol-feature>
  </aol-source-vector>
</aol-layer-vector>
</aol-map>
<ng-template #content let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bravo!</h5>
        <button type="button" class="close" (click)="modal.dismiss('erreur modal dismiss')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <h6>Tu as trouvé {{nombonbons}}!</h6>
        </div>
        <div>
          <h6>c'est un bonbon de classe:{{classebonbons}}</h6>
        </div>
        <div>
          <h6>Nous t'invitons à regarder les bonbons qu'il te reste à recupérer, tu dois tous les récupérer!</h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('erreur modal dismiss')">cool!</button>
      </div>
    </div>
  </ng-template>
