<div class='container-fluid body'>
  <div class='row'>
    <div class='col-5'>
      <ul class="nav flex-column ">
        <h3>Bonbons à proximité</h3>
        <li class="nav-item"><img src="https://via.placeholder.com/100" class='cap'>la</li>
        <li class="nav-item"><img src="https://via.placeholder.com/100" class='cap'>ICI</li>
        <li class="nav-item"><img src="https://via.placeholder.com/100" class='cap'>LABA</li>
        <li class="nav-item"><img src="https://via.placeholder.com/100" class='cap'>LAAUSSI</li>
      </ul>
    </div>
    <div class='col-6 map'>
      <!-- MAP -->
      <img src='https://via.placeholder.com/900x600'>
    </div>
  </div>

  <div class='row'>
    <h4 class='align-self-center'>Vos dernières captures :</h4> <img src="https://via.placeholder.com/100" class='cap'> <img src="https://via.placeholder.com/100"
      class='cap'><img src="https://via.placeholder.com/100" class='cap'><img src="https://via.placeholder.com/100"
      class='cap'><img src="https://via.placeholder.com/100" class='cap'><img src="https://via.placeholder.com/100"
      class='cap'><img src="https://via.placeholder.com/100" class='cap'> <img src="https://via.placeholder.com/100"
      class='cap'>
  </div>
</div>
